<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Datos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">manager</property>
    
    
   
    <mapping resource="Controlador/hb_xml/Estacionamiento.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/Puesto.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/Perfil.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/Persona.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/TarifaVehiculo.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/Turno.hbm.xml"/>
    <mapping resource="Controlador/hbn_xml/Usuario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
